apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-deployment
 
spec:
  replicas: 4
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
        - name: fastapi-application
          image: rajkumardockerhub/fastapi-ci:6ff269804f178f9f9ea92548296f1a3c3b06b0d8
          ports:
            - containerPort: 8000
      imagePullSecrets:
        - name: my-docker-secret
