apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-deployment
  labels:
    app: fastapi
spec:
  replicas: 3
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      imagePullSecrets:
        - name: dockerhub-sceret
    spec:
      containers:
        - name: fastapi-application
          image: rajkumardockerhub/fastapi-ci:c40abbbd5c5be535f604b5dd6dccf70b70a6c77a
          ports:
            - containerPort: 8000
