apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-deployment
  labels:
    app: fastapi
spec:
  replicas: 3
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    
    spec:
      containers:
        - name: fastapi-application
          image: rajkumardockerhub/fastapi-ci:971f9d0af70d6caf45cf78971318518390e1d7d1
          ports:
            - containerPort: 8000
          imagePullSecrets:
        - name: dockerhub-sceret